* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 720px;
}

.row {
  margin: 10px -10px;
}

.col {
  box-sizing: border-box;
  float: left;
  padding: 10px 10px;
}

.col-50 {
  width: 50%;
}

.img {
  width: 100%;
}
